* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-blue: #1e2635;
  --primary-orange: #f26c29;
  --primary-green: #4caf50;
  --light-bg: #ffffff;
  --dark-text: #333333;
  --mid-text: #666666;
  --light-text: #ffffff;
  --border-color: #e5e5e5;
}

@keyframes fadeDown {
  from {
    transform: translateY(-1.25rem);
  }
  to {
    transform: translateY(0);
  }
}

html {
  font-size: 1rem;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--light-bg);
  color: var(--dark-text);
  min-height: 100vh;
  display: flex;
  padding: 2.5rem 0;
  flex-direction: column;
  align-items: center;
  position: relative;
  line-height: 1.6;
}

.container {
  max-width: 32.5rem;
  width: 90%;
  background-color: white;
  border-radius: 0.75rem;
  padding: 0 0 1.875rem 0;
  box-shadow: 0 0.625rem 1.875rem rgba(0, 0, 0, 0.08);
  position: relative;
  z-index: 1;
  border: 0.0625rem solid var(--border-color);
  overflow: hidden;
  animation: fadeDown 1s ease forwards;
}

.header {
  background-color: var(--primary-blue);
  display: flex;
  align-items: center;
  position: relative;
  padding: 1.5625rem 1.875rem;
  color: white;
}

.header__title {
  color: var(--light-text);
  margin-bottom: 0.9375rem;
  text-transform: uppercase;
}

.header__title-highlight {
  color: var(--primary-orange);
  font-size: 1.375rem;
  text-transform: capitalize;
}

.header__subtitle {
  color: var(--light-text);
  font-size: 0.75rem;
  position: relative;
  margin: 0 0 0.5rem 1.125rem;
}

.header__subtitle::before {
  content: "";
  width: 0.9375rem;
  height: 0.9375rem;
  background-image: url("../icons/summer_travel_holidays_vacation_suitcase_luggage_icon_148873.svg");
  position: absolute;
  left: -1.25rem;
  top: 0.625rem;
  transform: translateY(-50%);
  display: inline-block;
  filter: brightness(0) invert(1);
}

.header__description {
  color: var(--light-text);
  font-size: 0.75rem;
  opacity: 0.8;
}

.header__logo {
  border: 0.1875rem solid #fff;
  width: 5.625rem;
  height: 5.625rem;
  flex-shrink: 0;
  border-radius: 0.75rem;
  margin-right: 1.5625rem;
  position: relative;
}

.header__icon {
  position: absolute;
  bottom: -0.375rem;
  right: -0.375rem;
  border-radius: 50%;
  border: 0.125rem solid white;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--primary-green);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.1875rem 0.5rem rgba(0, 0, 0, 0.2);
}

.header__icon-img {
  width: 1.125rem;
  height: 1.125rem;
}

.header__social {
  display: flex;
  margin-top: 1.25rem;
  gap: 0.9375rem;
  justify-content: end;
}

.header__social-icon {
  width: 1.5625rem;
  height: 1.5625rem;
  filter: brightness(0) invert(1);
  transition: filter 0.2s;
}

.header__social-icon:hover {
  filter: brightness(1) invert(0.5) sepia(1) saturate(5) hue-rotate(-20deg);
  transform: translateY(-0.125rem);
}

.services__list {
  display: flex;
  list-style-type: none;
  gap: 0.625rem;
  color: var(--primary-green);
  flex-wrap: wrap;
  padding: 1.875rem 1.875rem 0;
}

.services__item {
  background-color: rgba(76, 175, 80, 0.1);
  padding: 0.3125rem 0.75rem;
  border-radius: 1.875rem;
  font-size: 0.75rem;
  font-weight: 500;
}

.consulting__card {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin: 0.9375rem 1.875rem;
  border: 0.0625rem solid var(--border-color);
  border-radius: 0.625rem;
  padding: 1rem 1.25rem;
  transition: all 0.3s ease;
  font-weight: normal;
  font-size: 0.9375rem;
  position: relative;
  overflow: hidden;
}

.consulting__icon {
   width: 1.5rem;
   height: 1.5rem;
}

.consulting__contact-wrapper {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.consulting__card--contact {
  justify-content: space-between;
  background-color: rgba(102, 102, 102, 0.1);
  margin-top: 1.875rem;
}

.consulting__whatsapp-btn {
  padding: 0.5rem 1.25rem;
  border-radius: 0.3125rem;
  background-color: var(--primary-green);
  border: none;
  font-size: .75rem;
  position: relative;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.consulting__whatsapp-btn:hover {
  background-color: #338335;
}

.consulting__whatsapp-btn::before {
  content: "";
  width: 0.9375rem;
  height: 0.9375rem;
  position: absolute;
  background-image: url("../icons/message-circle-2.svg");
  background-size: cover;
  top: 0;
  left: 0.625rem;
  transform: translateY(50%);
  display: inline-block;
}

.consulting__whatsapp-btn a {
  text-decoration: none;
  color: var(--light-text);
  display: inline-block;
  margin-left: 0.625rem;
}

.consulting__card--orange {
  background-color: var(--primary-orange);
  border: 0.0625rem solid var(--primary-orange);
  color: var(--light-text);
}

.consulting__card--green {
  background-color: var(--light-bg);
  border: 0.0625rem solid var(--border-color);
  color: var(--dark-text);
}

.consulting__card--orange::before {
  content: "";
  position: absolute;
  background-color: var(--light-bg);
  width: 0.25rem;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

.consulting__card--green::before {
  content: "";
  position: absolute;
  background-color: var(--primary-green);
  width: 0.25rem;
  height: 100%;
  left: 0;
  top: 0;
  transition: all 0.3s ease;
}

.consulting__card--orange:hover {
  background-color: #e05a1c;
  transform: translateY(-0.125rem);
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.08);
}

.consulting__card--green:hover {
  transform: translateY(-0.125rem);
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.08);
  border-color: rgba(76, 175, 80, 0.5);
  background-color: rgba(76, 175, 80, 0.1);
}

.consulting__card:hover::before {
  width: 0.375rem;
}

.consulting__card--orange:hover {
  background-color: #e05a1c;
  transform: translateY(-0.125rem);
  box-shadow: 0 0.3125rem 0.9375rem rgba(0, 0, 0, 0.08);
}

.consulting__title {
  font-size: .9375rem;
  font-style: normal;
  font-weight: normal;
}

.consulting__title--contact {
  font-size: 0.75rem;
  color: var(--mid-text);
  font-weight: normal;
}

.consulting__subtitle {
  font-size: .75rem;
  font-weight: normal;
  color: var(--mid-text);
}

.consulting__subtitle--contact {
  font-size: .9375rem;
  color: var(--dark-text);
  font-weight: normal;
}

.consulting__subtitle--orange {
  font-weight: normal;
  font-size: .75rem;
  color: rgba(255, 255, 255, 0.8);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 2.1875rem;
}

.footer__title {
  font-size: .9375rem;
  color: var(--primary-orange);
  text-transform: uppercase;
}

.footer__title-highlight {
  color: var(--dark-text);
  text-transform: capitalize;
  font-size: .8125rem;
  font-weight: bold;
}

.footer__copyright {
  font-size: .8125rem;
  color: var(--mid-text);
  font-weight: normal;
}

@media (max-width: 25rem) { /* 400px */
  .container {
    max-width: 100vw;
    border-radius: 0.5rem;
    padding: 0 0 1rem 0;
  }
  .header {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0.5rem;
    text-align: center;
  }
  .header__logo {
    width: 4rem;
    height: 4rem;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
  .header__title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
  .header__title-highlight {
    font-size: 1.1rem;
  }
  .header__subtitle {
    font-size: 0.65rem;
    margin-left: 0.5rem;
  }
  .header__subtitle::before {
    width: 0.75rem;
    height: 0.75rem;
    left: 3.375rem;
    top: 0.5rem;
  }
  .services__list {
    padding: 1rem 0.5rem 0;
    gap: 0.25rem;
  }

  .consulting__card {
    margin: 0.5rem 0.5rem;
    padding: 0.75rem 0.5rem;
    font-size: 0.85rem;
    gap: .9375rem;
  }
  
  .consulting__card--contact {
    margin-top: 1.25rem;
  }

  .consulting__icon {
    width: 1.1rem;
    height: 1.1rem;
  }
  
  .consulting__whatsapp-btn {
    padding: 0.4rem 0.7rem;
    font-size: 0.65rem;
  }

  .consulting__whatsapp-btn::before {
    left: 5px;
    width: 13px;
    height: 13px;
  }

  .footer {
    margin-top: 1rem;
  }
  .footer__title {
    font-size: 0.8rem;
  }
  .footer__title-highlight,
  .footer__copyright {
    font-size: 0.7rem;
  }
}


